body , html{
margin:0;
padding:0;
height: 100%;
background: #abdbc8;
color: #333;
font-size: 12px;
line-height: 1.5;
}

a{
	color:#0060B6;
	text-decoration:none;
}

#wrapper{
width: 1100px;
margin: 0 auto;
background: #DCDCDC;
}

#header{
background: #fff;
padding: 20px 10px 0 20px;
border-bottom: 3px solid #008c87;
height:65px;
}


#header_up{
height:20px;
width:100%;
font-size:13px;
margin-bottom:5px;
}

#header_shop{
font-size:14px;
float:left;
width:50%;
text-align:left;
}

#logout{
float:right;
width:50%;
text-align:right;
}



#header_low{
position:relative;
height:40px;
width:1070px;
padding:0;
margin:0;
}

#menu{
position:absolute;
height:100%;
width:50%;
margin-left:535px;
margin-top:-65px;
padding-left:40px;
}

ul.menu {
list-style: none; /* 先頭記号を消す */
}

ul.menu li {
float: left; /* リスト項目を横方向に並べる */
padding-right:10px; /* リスト項目の幅 */
}

#time{
width:535px;
height:40px;
padding-top:13px;
}

#header_low:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

#contents{
min-height:100%;
height:100%;
margin:0;
padding:10px 10px 10px 10px;
}


/*表*/

table{
border: 1px solid #CCCCCC; 
border-collapse: collapse;
background: #fff;
}

table th, table tr{
font-size:12px;
font-weight:100;
border:1px solid #3F3F3F;
padding: 5px 10px;
}

th.a{
background-color: #D6E0FF;
}

tr.b{
background-color: #50c2a5;
}

#top_table{
width:100%;
height:70px;
}

#t_left{
float:left;
}

#t_right{
margin-left:270px;
width:810px;
}

#l_t_left{
float:left;
height:200px;
}

#l_t_right{
font-weight:normal;
margin-left:450px;
}

tr.kounyu{
background-color:#FFFFB4;
}